<link rel="import" href="bower_components/polymer/polymer.html">

<polymer-module id="lobby">
    <template>
        hellloouu
    </template>
</polymer-module>

<script>
    Polymer({
        is: 'lobby'
    });
    
</script>

<!--<div ng-app="lobbyModule" ng-controller="LobbyController" class="lobby">
	<input ng-model="newLobbyName"><button ng-click="enterNewLobby()" >Create new Lobby</button>
		<h3>Available Lobbies:</h3>
		<div ng-if="hasLobbies">
            <div id="gameList" class="row">
                <div class="btn-group-vertical col-xs-4" role="group">
                    <a href="/lobby/{{lobby}}" class="list-group-item" ng-repeat="lobby in lobbies">{{lobby}}</a>
                </div>
            </div>
        </div>
        
	</div>-->