bin/
repository/

# Folders
logs
target
poker/.sbtserver
*.sbtserver
poker/project/.sbtserver
project

# Files
*.log
*.sbt
*sbtserver
.sbtserver

# Others
/.idea
/.idea_modules
.classpath
.project
.settings

# Runtime
RUNNING_PID