body { 
    background-color: #FFFFFF;
}

.logo {
    width: 25%;
    margin-top: 10px;
}

hr {
	margin-top:5px;
	margin-bottom:5px;
}

#communityCards {
    margin-top:50px;
    margin-bottom:50px;
}

.playfield {
    margin-top:20px;
}

.field {
    min-height:500px;
}

.border {
    border-style:solid;
}

.btn-primary {
    border-color:#000000;
}

.redbtn {
	background-color:#FF0000;
}

.bluebtn {
	background-color:#0000FF;
	}

.round {
    margin-top:5px;
    margin-bottom:5px;
    border-radius:24px;
}

.credits {
    text-align: center;
    color: #00FF00;
    font-weight: bold;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
}
.playercard img {
    width:50%;
    float:left;
}

div.communityCard {
	width: 20%;
	float: left;
}

.communityCard img {
	max-width: 100%;
	max-height: 100%;
	float: left;
}

.stack {
    font-size: 1.5em;
    font-weight: bold;
    color: #00ff00;
    
}

.playercolor {
    color:#FFFFFF;
}

/* sidebar */
.gameInfo {
    padding-right:0px;
    padding-left:30px;
}

.gameInfo h3 {
    margin-top:0px;
    font-size:18px;
}

.gameInfo ul {
    list-style-type:square;
    padding-left:15px;
    padding-right:15px;
}

#chat-area {
    margin-bottom: 5px;
    padding: 5px;
    width: 100%;
    height: 200px;
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 10px;
    border-style: solid;
}

#send-message-box {
    width: 100%;
}