@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="navbar">
        
                <button type="button" class="btn btn-default navbar-btn active"><a href="/poker">Home</a></button>
                <button type="button" class="btn btn-default navbar-btn"><a href="/game">Game</a></button>
                <button type="button" class="btn btn-default navbar-btn"><a href="/help">Help</a></button>
                <button type="button" class="btn btn-default navbar-btn"><a href="/about">About</a></button>
            </div>
            <hr style="margin-top:0px; margin-bottom:0px;"/>
        </div>
        
        <div class="container">
            @content
        </div>                                         `
    </body>
</html>

