@main("Playing Texas Hold'em") {

<link rel="stylesheet" href='@routes.Assets.at("stylesheets/main.css")'/>
	
	<div class="row">
    	<div class="col-md-3" style="background-color:BLUE;">XPlayer1</div>
    	<div class="col-md-3" style="background-color:YELLOW;">Player2</div>
    	<div class="col-md-3" style="background-color:RED;">Player3</div>
    	<div class="col-md-3" style="background-color:GREEN;">Player4</div>
	</div>
	
	<div class="row">
	    <div class="col-md-3">Stack: #STACK-PLAYER1</div>
	    <div class="col-md-3">Stack: #STACK-PLAYER2</div>
	    <div class="col-md-3">Stack: #STACK-PLAYER3</div>
	    <div class="col-md-3">Stack: #STACK-PLAYER4</div>
	</div>
	
	<div id="communityCards" class="col-md-6 col-md-offset-3">
	    <p>CARDS HERE</p>
	</div>
}