@main("Playing Texas Hold'em") {

<link rel="stylesheet" href='@routes.Assets.at("stylesheets/main.css")'/>
	<div class="playfield">
        <div class="col-md-8">
            <div class="row">
            	<div class="col-md-3" >
            	    <p class="btn btn-primary btn-block round playercolor bluebtn">XPlayer1</p>
            	    <div>Stack: #STACK-PLAYER1</div>
            	</div>
            	<div class="col-md-3" >
            	    <button class="btn btn-primary btn-block round playercolor greenbtn">XPlayer2</button>
            	    <div>Stack: #STACK-PLAYER2</div>
            	</div>
            	<div class="col-md-3" >
            	    <p class="btn btn-primary btn-block round playercolor yellowbtn">XPlayer3</p>
            	    <div>Stack: #STACK-PLAYER3</div>
            	</div>
            	<div class="col-md-3" >
            	    <p class="btn btn-primary btn-block round playercolor redbtn">XPlayer4</p>
            	    <div>Stack: #STACK-PLAYER4</div>
            	</div>
            </div>
        </div>
        
        <div class="gameInfo col-md-4 pull-right">
            <h3 class="glyphicon glyphicon-info-sign">GAME INFORMATION</h3>
            <ul>
                <li>Leader: #PLAYERX - #CASH</li>
                <li>Big Blind: #PLAYERX - #BIGBLIND</li>
                <li>Small Blind: #PLAYERX - #SMALLBLIND</li>
            </ul>
        </div>
        
        <div id="communityCards" class="col-md-8">
            <div  class="col-md-10 col-md-offset-1">
                <p>CARDS HERE</p>
            </div>
            
            <div class="col-md-10 col-md-offset-1">
                <p>Pot: #POTSIZE</p>
            </div>
        </div>
        
        <div class="col-md-8">
            <div class="row">
            	<div class="col-md-3" >
            	    <p class="btn btn-primary btn-block round playercolor purplebtn">XPlayer5</p>
            	    <div>Stack: #STACK-PLAYER5</div>
            	    <div class="playercard"><img src="assets/images/Cards/poker.png"/></div>
            	</div>
            	<div class="col-md-3" >
            	    <button class="btn btn-primary btn-block round playercolor orangebtn">XPlayer6</button>
            	    <div>Stack: #STACK-PLAYER6</div>
            	</div>
            	<div class="col-md-3" >
            	    <p class="btn btn-primary btn-block round playercolor blackbtn">XPlayer7</p>
            	    <div>Stack: #STACK-PLAYER7</div>
            	</div>
            	<div class="col-md-3" >
            	    <p class="btn btn-primary btn-block round playercolor greybtn">XPlayer8</p>
            	    <div>Stack: #STACK-PLAYER8</div>
            	</div>
            </div>
        </div>
        
        <div class="btn btn-group">
            <button>Call/Check</button>
            <button>Raise</button>
            <button>Fold</button>
            <button>Give up and chicken out!</button>
        </div>
	</div>
}