@main("Playing Texas Hold'em") {

<link rel="stylesheet" href='@routes.Assets.at("stylesheets/main.css")'/>
	<div class="playfield">
        <div class="col-md-8">
            <div class="row">
            	<div class="col-md-3" style="background-color:BLUE;">XPlayer1</div>
            	<div class="col-md-3" style="background-color:YELLOW;">Player2</div>
            	<div class="col-md-3" style="background-color:RED;">Player3</div>
            	<div class="col-md-3" style="background-color:GREEN;">Player4</div>
            </div>
            
            <div class="row">
                <div class="col-md-3">Stack: #STACK-PLAYER1</div>
                <div class="col-md-3">Stack: #STACK-PLAYER2</div>
                <div class="col-md-3">Stack: #STACK-PLAYER3</div>
                <div class="col-md-3">Stack: #STACK-PLAYER4</div>
            </div>
        </div>
        
        <div class="gameInfo col-md-4 pull-right">
            <h3 class="glyphicon glyphicon-info-sign">GAME INFORMATION</h3>
            <ul>
                <li>Leader: #PLAYERX - #CASH</li>
                <li>Big Blind: #PLAYERX - #BIGBLIND</li>
                <li>Small Blind: #PLAYERX - #SMALLBLIND</li>
            </ul>
        </div>
        
        <div class="col-md-8">
            <div id="communityCards" class="col-md-10 col-md-offset-1">
                <p>CARDS HERE</p>
            </div>
        </div>
	</div>
}