@(user: service.User, env: securesocial.core.RuntimeEnvironment, lobby: String)
@import securesocial.core.IdentityProvider
@import securesocial.core.AuthenticationMethod._
@import Http.Context.Implicit

@main("Poker - Texas Holdem") {
	
	<link rel="stylesheet" href='@routes.Assets.at("stylesheets/main.css")'/>
	<script src='@routes.Assets.at("javascript/websocket.js")'></script>
	<script src='@routes.Assets.at("javascript/chat.js")'></script>
	<div class="page-header">
		<h2><img src="@user.main.avatarUrl" alt="@user.main.fullName" width="40px" height="40px"/> Welcome @user.main.firstName.getOrElse{@user.main.fullName.getOrElse{User}}</h2>
	</div>
		<h2>Lobby: "@lobby"</h2>
		 
        <div class="chat">
        <div id="chat-area"></div>
    
	         <form id="send-message-form">
	             <p>Your message: </p>
	             <textarea id="send-message-box" maxlength = '100' >
	             </textarea>
	         </form>
	    </div>
    </div>
}