@main("SecureSocial - Game Implementations") {
<div class="page-header">
    
</div>


<div>
<h1>Welcome to Poker - Texas Hold'em</h1>
<h2>Play Texas Hold'em with friends for free!!!</h2>
<h3>How to play</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/GAoR9ji8D6A?&hd=1&iv_load_policy=3" frameborder="0" allowfullscreen></iframe>
<p>Now you're ready to <a href="game">play Texas Hold'em No Limit</a>!</p>
</div>

<div>
<h1>Choose Implementation</h1>
<ul>
    <li><a href="#">Angular</a></li>
    <li><a href="#">Polymer</a></li>
</ul>
</div>
}
