@main("Texas Holdem - About") {
	
	<div>
	    <h1>About</h1>
	    <p>This game was created by two cool guys Joey and Dennis as a project of the lecture Web Technologies</p>
	    <p>The goal of this lecture was to create a web application based on a game implemented in the third semester.
	       The old project is continued and a WebUI has to be programmed.<br/>
	       This Poker game includes following web technologies:
	       </p>
	       <ul>
	           <li>HTML</li>
	           <li>CSS</li>
	           <li>Bootstrap</li>
	           <li>Javascript</li>
	           <li>jQuery</li>
	           <li>AJAX</li>
	           <li>WebSockets</li>
	           <li>AngularJS</li>
	           <li>Polymer</li>
	           <li>Deployment with heroku</li>
	           <li>Authentication with github</li>
	       </ul>
	    
	</div>
}